:root {
	--color-white: #fff;
	--color-black: #000;
	--color-main-accent: #8338ec;
	--color-second-accent: #4cc9f0;
	--color-main-light: #e9ecef;
	--color-main-medium: #adb5bd;
	--color-main-dark: #343a40;

	--font-size-small: 12px;
	--font-size-medium: 16px;
	--font-size-big: 24px;

	--font-weight-regular: 400;
	--font-weight-normal: 500;
	--font-weight-bold: 700;
}

.white {
	color: var(--color-white);
}
.black {
	color: var(--color-black);
}
.main-accent {
	color: var(--color-main-accent);
}
.second-accent {
	color: var(--color-second-accent);
}
.main-light {
	color: var(--color-main-light);
}
.main-medium {
	color: var(--color-main-medium);
}
.main-dark {
	color: var(--color-main-dark);
}

.bg-main-medium {
	background-color: var(--color-main-medium);
	color: var(--color-white);
}

.bg-main-accent {
	background-color: var(--color-main-accent);
	color: var(--color-white);
}

.bg-second-accent {
	background-color: var(--color-second-accent);
	color: var(--color-white);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	margin: 0;
	height: 100%;
	color: var(--color-black);
}
.main {
	min-height: 100%;
	display: flex;
	padding: 20px;
}

#__next,
#__next > div {
	height: 100%;
}

/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/
